@using ECommercial.Entities.Concrete
@model List<Comment>

@foreach (var comments in Model)
{
    if (comments.Status)
    {
        <div class="reviewer">@comments.User.FirstName - <span>@comments.Date</span></div>
        <div class="ratting">
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
        </div>
        <p>
            @comments.Content
        </p>
    }

}


