@using ECommercial.Entities.Concrete
@model List<User>
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/AdministratorArea/Views/Shared/_AdminLayout.cshtml";
}


<div class="card">
    <div class="card-header">
        <h3 class="card-title"><strong>Ürünler</strong></h3>
    </div>
    /.card-header
    <div class="card-body">
        <div id="example1_wrapper" class="dataTables_wrapper dt-bootstrap4">
            <div class="row">
                <div class="col-sm-12">
                    <div id="example1_filter" class="dataTables_filter"></div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <table id="table" class="display" style="width:100%">
                        <thead>
                            <tr role="row">
                                <th>Ad</th>
                                <th>Telefon</th>
                                <th>Email</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var user in Model)
                            {
                                <tr>
                                    <td>@user.FirstName @user.LastName</td>
                                    <td>@user.Phone</td>
                                    <td>@user.Email</td>
                                    <td>
                                        @if (user.UserAddresses != null)
                                        {
                                            <a class="btn btn-outline-warning btn-sm" href="/AdministratorArea/Customers/UserDetails/@user.Id">Detaylar</a>
                                        }
                                        else
                                        {
                                            <a class="btn btn-outline-warning btn-sm disabled" href="/AdministratorArea/Customers/UserDetails/@user.Id">Detaylar</a>
                                        }
                                        <a class="btn btn-outline-info btn-sm" href="/AdministratorArea/Users/ShoppingHistory/@user.Id">Alışveriş Geçmişi</a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                        <tfoot>
                            <tr>
                                <th rowspan="1" colspan="1">Ad</th>
                                <th rowspan="1" colspan="1">Telefon</th>
                                <th rowspan="1" colspan="1">Email</th>
                                <th rowspan="1" colspan="1"></th>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>
    /.card-body
</div>


