@using ECommercial.Entities.Concrete
@model List<Product>
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/ECommercial/Views/Shared/_ECommercialLayout.cshtml";
}

<div class="cart-page">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-8">
                <h2>Sepetteki Ürün Sayısı / @Model.Count</h2>
                <div class="cart-page-inner">
                    <div class="table-responsive">
                        <table class="table table-bordered">
                            <thead class="thead-dark">
                                <tr>
                                    <th>Ürün Adı</th>
                                    <th>Adet</th>
                                    <th>Fiyat</th>
                                    <th>Toplam</th>
                                    <th>Sil</th>
                                </tr>
                            </thead>
                            <tbody class="align-middle">
                                @foreach (var products in Model)
                                {
                                    <tr>
                                        <td>
                                            <div class="img">
                                                <a href="/ECommercial/Products/ProductDetails/@products.Id">
                                                    <p>@products.Name</p>
                                                </a>
                                            </div>
                                        </td>
                                        <td>
                                            @products.OrderQuantity
                                        </td>
                                        <td>@products.UnitPrice ₺</td>
                                        <td>
                                            @{
                                                var total = Model.Sum(x => x.UnitPrice * x.OrderQuantity);
                                                @total
                                            }
                                        </td>
                                        <td><a href="/ECommercial/Carts/DeleteItem/@products.Id"><i class="fa fa-trash"></i></a></td>
                                    </tr>

                                }

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="cart-page-inner">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="cart-summary">
                                <div class="cart-content">
                                    <h1>Sepet Özeti</h1>
                                    <p>
                                        Toplam Tutar<span>
                                            @{
                                                var totalPrice = Model.Sum(x => x.UnitPrice * x.OrderQuantity);
                                                @totalPrice
                                            } ₺
                                        </span>
                                    </p>
                                    <p>Kargo Ücreti<span>10 ₺</span></p>
                                    <h2>
                                        Ödenecek Tutar<span>
                                            @{
                                                var grandTotal = Model.Sum(x => x.UnitPrice * x.OrderQuantity) + 10;
                                                @grandTotal
                                            }
                                            ₺
                                        </span>
                                    </h2>
                                </div>
                                <div class="cart-btn">
                                    <a href="/ECommercial/Carts/AddressConfirmation" class="btn btn-lg offset-4">Sepeti Onayla</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
